* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #121212;
    color: lightyellow;
    font-family: sans-serif;
    height: 100vh;
}

div#form {
    width: 300px;
    font-size: 1.1rem;
    background-color: #bbbbbb;
    color: #222222;
    padding: 10px;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 5;
}

#form {
    height: fit-content;
    z-index: 5;
}

#main-container {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-container {
    display: flex;
    justify-content: center;
    height: 10vh;
}

.calendar {
    border: 1px white solid;
    border-radius: 12px;
    display: flex;
    box-shadow: 12px 12px 16px rgb(0, 0, 0);
    flex-direction: row;
    margin-left: 1rem;
    width: 90vw;
    height: 90vh;
    /* background: -webkit-repeating-linear-gradient(
       bottom,
     rgb(36, 36, 88),
     rgb(36, 36, 88) 4vh,
     #fff 4vh,
     #fff 4.1vh); */
}

.day {
    display: flex;
    flex-direction: column;
    width: 14vw;
}

.day-label {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}

.event {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #646464;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    border-radius: 4px;
    height: 8vh;
    width: 10vw;
    justify-content: space-evenly;
    align-items: center;
}

.event > p {
    padding: 0;
    margin: 0;
}

div#createEvent {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input {
    font-family: sans-serif;
    font-size: 1em;
    height: 1.7em;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
}

div#buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}



input[type=button], input[type=submit] {
    height: 2.3em;
    width: 40%;
    margin-left: 10px;
}


input[type=button]:hover, input[type=submit]:hover {
    cursor: pointer;
}

input[type=submit] {
    background-color: rgb(53, 53, 211);
    color: white;
}

input#eventName {
    background-image: none !important;
}
